@font-face {
  font-family: 'iconfont';  /* project id 1445652 */
  src: url('//at.alicdn.com/t/font_1445652_0zrsbfrv4qgo.eot');
  src: url('//at.alicdn.com/t/font_1445652_0zrsbfrv4qgo.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1445652_0zrsbfrv4qgo.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1445652_0zrsbfrv4qgo.woff') format('woff'),
  url('//at.alicdn.com/t/font_1445652_0zrsbfrv4qgo.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1445652_0zrsbfrv4qgo.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\e611";
}

.icon-right:before {
  content: "\e600";
}

.icon-bianji:before {
  content: "\e616";
}

